  .proj{
    display: inline-flex;
    height: 60vh;
    width: 100%;
    margin-bottom: 50px;
  }
  .proj video{
    width: 50%;
    height: min-content;
    border-radius: 20px;
    order: 2;
    margin: 50px;
  }
  .desc{
    margin: 15px;
    order: 1;
    width: 50%;
  }
  .desc h1{
    margin: 30px;
  }
  .desc li::before{
    font-size: 20px;
    margin-left: 20px;
  }
  .desc li{
    line-height: 40px;
    font-size: 25px;
    list-style: none;
    transition: letter-spacing 200ms ease;
  }
  .desc li:hover{
    letter-spacing: 1px;
  }
  #lang::before{
    content: "💎 ";
  }
  #fet::before{
    content: "🪄 ";
  }
  #err::before{
    content: "💥 ";
  }
