.three{
    color: var(--text1);
    text-shadow: 1px 1px 1em var(--text1-accent);
    background-color: var(--body1-color);
    height: 200vh;
  }
  .three.name{
    opacity: 1;
  }
  .three.name.fadeIn{
    animation: fade-in 1s;
  
  }
  .section3{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-auto-columns: 50% 50%;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .swipeUp{
    animation-name: swipe-up;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
  }
  .autocomplete-video{
    width: 100%;
    margin: 20px;
    border-radius: 20px;
    grid-column-start: 1;
  }
  .autodescription{
    grid-column-start: 2;
    background-color: var(--desc-color);
    border-radius: 20px;
    margin: 40px;
    margin-top: 150px;
    display: block;
    width: 80%;
    height: min-content;
  }
  .desc{
    color: white;
    opacity: 1;
    margin: 20px;
    margin-top: 30px;
  }
  .desc p{
    margin-top: 30px;
    line-height: 40px;
    font-size: 25px;
    text-align: center;
    height: min-content;
  }
  
  .amlang-video{
    height: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 20px;
    margin-top: 150px;
    display: block;
  }
  .amlang-description{
    grid-column-start: 1;
    background-color: var(--desc-color);
    border-radius: 20px;
    margin: 0px 40px;
    display: block;
    width: 80%;
    height: min-content;
  }
  .layer2{
    background-image: url("./assets/layer2.svg");
  }
  .website-video{
    display: block;
    width: 100vw;
  }
  .website-description{
    grid-row-start: 3;
    background-color: var(--desc-color);
    border-radius: 20px;
    margin-top: 200px;
  }
  

