  .section3{
    display: inline-flex;
    height: min-content;
    width: 100%;
  }
  .section3 video{
    width: 50%;
    border-radius: 20px;
    order: 2;
    margin: 10px;
  }
  .desc{
    width: 95%;
    margin: 10px;
    order: 1;
  }
  .desc p{
    line-height: 40px;
    font-size: 25px;
    text-indent: 3vw;
  }
