.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 20px;
}
.data{
  border-radius: 20px;
  width: auto;
  height: auto;
  margin: 20px;
}
.wrapper h1{
  text-align: center;
  margin: 20px;
  font-size: 30px;
  text-decoration: underline;
}
.data ul{
  margin: 20px;
  width: 70%;
  font-size: 20px;
  color: white;
  list-style-type: none;
  display: inline-flex;
  gap: 20px;
}
.data li{
  min-width: 60px;
  min-height: 60px;
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}
#javascript{
  background-image: url('../../assets/javascript.png');
}
#cpp{
  background-image: url('../../assets/c++.png');
}
#python{
  background-image: url('../../assets/python.jpg');
}
#csharp{
  background-image: url('../../assets/C.png');
}
#c{
  background-image: url('../../assets/csharp.png');
}
#kotlin{
  background-image: url('../../assets/kotlin.jpg');
}
#typescript{
  background-image: url('../../assets/typescript.png');
}
#java{
  background-image: url('../../assets/java.png');
  background-color: #343434;
}
.data.alg ul{
  display: block;
  margin: 0px 20px;
  font-size: 25px;
}
