.wrapper{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 90%;
  max-height: 100vh;
  row-gap: 30px;
  margin-bottom: 100px;
}
.data{
  border-radius: 20px;
  margin: auto;
  width: 90%;
  height: 100%;
  border: 1px solid black;
}
.wrapper h1{
  text-align: center;
  margin: 20px;
  grid-row-start: 1;
}
.lang{
  grid-column-start: 1;
}
.lang ul{
  display: inline-flex;
}
.alg{
  grid-column-start: 2;
  grid-row-start: 2;
}
.data ul{
  margin: auto;
  width: 70%;
  font-size: 40px;
  color: white;
  list-style-type: none;
}
.data li{
  margin: 20px;
}
