.chaseclass{
  width: 90%;
  margin: 20px;
}
.dummyclass{
  list-style: none;
}
.dummyclass li{
  font-size: 25px;
  transition: background-color 1s; 
  line-height: 30px;
  height: 30px;
}
.dummyclass span:hover{
  color: turquoise !important;
}

.string-list{
  margin-left: 200px;
  text-indent: 0px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}
.string-list span{
  &:after{
    content: ",";
    color: white;
  } 
}

.in1{
  text-indent: 50px;
}
.in2{
  text-indent: 100px;
}
.in3{
  text-indent: 150px;
}
.in4{
  text-indent: 200px;
}



.classinit{
  color: #3088a0;
}
.include{
  color: #a03434;
}
.string{
  color: #50a950;
}
.classflag{
  color: red;
}
.typeid{
  color: orange;
}
.number
{
  color: lightcoral;
}


