.chaseclass{
  color: red;
  background-color: #343540;
  width: min-content;
  height: min-content;
}
.dummyclass{
  list-style: none;
  width: 100%;
  height: 100%;
}
.dummyclass li{
  font-size: 25px;
  transition: background-color 1s; 
  height: min-content;
  height: 30px;
  line-height: 30px;
  display: block;
}
.dummyclass li:hover{
  background-color: rgb(200,200,200,0.5);
  color: black;
}

.string-list{
  display: flex;
  height: min-content;
}

.in1{
  text-indent: 100px;
}
.in2{
  text-indent: 150px;
}
.in3{
  text-indent: 200px;
}
.in4{
  text-indent: 250px;
}



.classinit{
  color: #3088a0;
}
.include{
  color: #a03434;
}
.string{
  color: #50a950;
}
.classflag{
  color: red;
}
.typeid{
  color: orange;
}
.number
{
  color: lightcoral;
}


