  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;} 
  }
 
.home{
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 60%;
    height: 200vh;
  }
.description{
    grid-row-start: 2;
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
    line-height: 50px;
    margin: auto;
    width: 90%;
    padding-top: 75px;
}
.description h6{
    line-height: 30px;
    font-size: 25px;
    display: inline-flex;
    margin: 5px;
}
.fadeIn{
    margin: 0px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.fadeIn::before{
    opacity: 0;
  }
  .title{
    line-height: 60px;
    text-decoration: underline;
  }
  .var-highlight{
  color: #C0AD60;
}
.string-highlight{
  color: rgba(253, 149, 90, 0.8);
}

#typewriter{
    font-size: 2em;
    margin: 0;
    font-family: "Courier New";
    color: white;
    position: absolute;
    left: 0px;
    margin-left: 50px;

    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
}
span{
    display: block;
    margin-left: 100px;
  }
p{
    display: inline-flex;
  }

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

