  @keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;} 
  }
 
.home{
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 60%;
    height: 200vh;
  }
.description{
    grid-row-start: 2;
    color: white;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
    line-height: 50px;
    margin: auto;
    width: 90%;
}
.description h6{
    line-height: 30px;
    font-size: 25px;
    display: inline-flex;
    margin: 5px;
}
.fadeIn{
    margin: 0px;
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}
.fadeIn::before{
    opacity: 0;
  }

 .picture{
    background-color: red;
    grid-row-start: 3;
    margin: 20px;
    aspect-ratio:  3/2;
    background-image: url('./chase_class.jpg');
    background-size: cover;
    border-radius: 20px;
    max-height: 100%;
    margin: auto;
    width: 90%;
  } 
  .title{
    line-height: 60px;
    text-decoration: underline;
  }
