 
.home{
  height: 90vh;
  grid-column-start: 1;
  display: grid;
  grid-template-columns: 35% auto;
  grid-template-rows: 4% 10% auto;
}
.home div{
  max-height: 100%;
  width: 90%;
  font-size: 30px;
  text-indent: 70px;
  line-height: 50px;
  margin-top: 100px;
  grid-column-start: 2;
  font-size: 1.5em;
  text-indent: 2em;
  width: 90%;
  line-height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
}
#typewriter{
  font-size: 2em;
    &:after{
      content: "|";
      animation: blink 500ms linear infinite alternate;
    }
  margin: 20px;
  height: 100px;
}
p{
    display: inline-flex;
  }
.slider{
  background-color: red;
  height: 50vh;
  width: 30vw !important;
  grid-column-start: 1 !important;
  position: absolute;
  left: 7vw;
  background-image: url('../../assets/slide-in.svg');
  border-radius: 10px;
}

@-webkit-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes blink{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

