.navbar{
  z-index: 5;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
}
.navlist{
  list-style: none;
  display: inline-flex;
}
.navitem{
  font-size: 25px;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  transition: font-size 0.5s;
}
.navitem.active{
  font-size: 30px;
}
