.navbar{
  z-index: 5;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
}
.navlist{
  list-style: none;
  display: inline-flex;
}
.navitem{
  background-color: black;
  font-size: 25px;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  transition: background-color 0.5s;
}
.navitem:hover{
  background-color: #3da5b3;
}
.navitem.active{
  background-color: #3da5b3;
}
.navitem.active:hover{
  background-color: #ada5b3;
}
