.navbar{
  z-index: 5;
  display: flex;
  height: 130px;
  justify-content: center;
  position: sticky;
  top: 0px;
  border-bottom: 1px solid white;
  background-color: black;
  animation-name: color-change;
  animation-delay: 0s;
  animation-duration: 100s;
  animation-iteration-count: infinite;

}
.navlist{
  list-style: none;
  display: inline-flex;
  margin: 10px;
}
.navitem{
  font-size: 25px;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  transition: font-size 0.5s;
  text-align: center;
}
.navitem.active{
  font-size: 35px;
  margin: 0px 50px;
}
#sub{
  font-size: 20px;
  max-width: 200px;
  text-align: left !important;
}
