:root{
  --body-color: #090513;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}
body{
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--body-color);
}
