:root{
  --body-color: #090513;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Courier New";
  z-index: 2;
  text-shadow: 2px 2px 10px white;
}
h1{
  text-align: center;
}
body{
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--body-color);
  z-index: 0;
  position: relative;
}
.maintitle{
  text-align: center;
  font-size: 50px;
  color: white;
}
.main{
  display: grid;
  row-gap: 50px;
}
