.twinkling-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: transparent;
    z-index: -1;
}

@keyframes twinkling {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    50% {
        opacity: 1;
        transform: translateY(-10px) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
}

/* Generate random star positions */
.twinkling-stars::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    opacity: 0;
}
.twinkling-stars.first::before{
  background-color: #fcf795;
  animation: twinkling 2s infinite ease-in-out;
}
.twinkling-stars.second::before{
  background-color: #8bfcf1;
  animation: twinkling 7s infinite ease-in-out;
}
.twinkling-stars.third::before{
  background-color: #ac34f7;
  animation: twinkling 5s infinite ease-in-out;
}
.twinkling-stars.fourth::before{
  background-color: #ac34f7;
  animation: twinkling 3s infinite ease-in-out;
}
.twinkling-stars.fifth::before{
  background-color: #8a3048;
  animation: twinkling 6s infinite ease-in-out;
}

