.twinkling-stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: transparent;
    z-index: -1;
}

@keyframes twinkling {
    0% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
    10%{
      opacity: 0.5;
    }
    50% {
        opacity: 0.2;
        transform: translateY(-10px) rotate(50deg);
    }
    100% {
        opacity: 0;
        transform: translateY(0) rotate(90deg);
    }
}

/* Generate random star positions */
.twinkling-stars::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    background-color: transparent;
}
.twinkling-stars.first::before{
  animation: twinkling 10s infinite ease-in-out;
  background-color: #367;
}
.twinkling-stars.third::before{
  animation: twinkling 5s infinite ease-in-out;
  background-color: #445;
}
.twinkling-stars.fourth::before{
  animation: twinkling 3s infinite ease-in-out;
  background-color: #237;
}
.twinkling-stars.fifth::before{
  animation: twinkling 6s infinite ease-in-out;
  background-color: #323;
}

