
.contacts{
  color: white;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 50px;
}
.contacts ul{
  list-style: none;
  font-size: 30px;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 2;
}
.contacts li{
  line-height: 50px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}
.email{
  grid-column-start: 1;
}
