
.contacts{
  color: white;
  margin: auto;
  width: 100%;
  display: flex;
  gap: 50px;
}
.contacts ul{
  list-style: none;
  font-size: 30px;
  align-items: center;
  grid-row-start: 2;
  grid-column-start: 2;
  width: 50%;
}
.contacts li{
  line-height: 50px;
  border-radius: 20px;
  padding: 10px;
  margin: auto;
}
.contacts li:hover, a:hover{
  letter-spacing: 1px;
}
.contacts p{
  margin: auto;
  font-size: 30px;
  width: 50%;
  text-align: center;
}
